body {
    margin: 0;
    font-family: Arial, serif;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 75px;
    margin: 0 -200px;
    box-shadow: 0px 2px 5px rgba(62, 62, 62, 0.1);
    margin: 0 -340px;
}

.navbar-left .logo {
    height: 80%;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    color: rgba(0, 0, 0, 0.66);
    text-decoration: none;
    margin-left: 25px;
    margin-right: 20px;
    font-size: 17px;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.search-icon {
    height: 20px;
    cursor: pointer;
}

.navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 105px;
    margin: 0 -200px;
    position: relative;
    z-index: 10;
    transition: box-shadow 0.3s;
    margin: 0 -340px;
}

.navbar2-center {
    display: flex;
    align-items: center;
}

.navbar2-center a {
    color: rgb(0, 0, 104);
    text-decoration: none;
    margin: 0 30px;
    font-size: 16px;
    position: relative;
}

.navbar2-center a::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.navbar2-center a.active::after {
    background-color: #0052aa;
}

.content-container {
    display: none;
    background-color: #f7f7f7;
    height: 287px;
    width: 1795px;
    margin: 0 -338px;
    position: relative;
    top: -2px;
    z-index: 9; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.alt-metin-icerik {
    display: none;
    padding: 10px;
    padding-left: 25px;
    padding-top: 20px;
    font-size: 20px;
}



.alt-metin-icerik a {

    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.66);
}

.alt-metin-icerik a:hover {
    color: rgb(0, 0, 126);
}

h4 {
    color: #003d7d;
    margin-bottom: 20px;
}


.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.image {
    width: 90%;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 30%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    position: absolute;
    top: 48%;
    left: 14%;
    transform: translate(-50%, -50%);
    padding: 10px 35px;
    background-color: rgb(0, 0, 100);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;

}

.button:hover {
    background-color: rgb(0, 0, 208);
}


.container2 {
    display: flex;
    justify-content: center;
}

.centered-div {
    width: calc(100% - 200px);
    background-color: white;
    border: 1px solid rgba(41, 41, 41, 0.188);
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    transition: transform 0.3s ease-in-out; 
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card1:hover {
    transform: scale(1.0095);
}


.navbar3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 20px;
    position: relative;
    z-index: 10;
    transition: box-shadow 0.3s;
    margin: 0 -120px;
}

.navbar3-center {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.navbar3-center a:hover {
    color: #003d7d;
}

.navbar3-center a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(64, 64, 64);
    padding: 5px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
    font-size: 18px;
}

.navbar3-center a.active {
    border-bottom: 3px solid blue;
}

#image-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.araba img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.araba img:hover {
    transform: scale(0.95);
}

.accordion-button {
    background-color: #ffffff !important; 
    color: #000000;
    cursor: pointer;
    padding: 22px;
    width: 100%;
    border: none;
    padding-left: 805px;
    text-align: left;
    outline: none;
    font-size: 19px;
}

.accordion-button:focus, .accordion-button:active {
    background-color: #ffffff !important; 
    border: none; 
    outline: none;
    box-shadow: none; 
}

.accordion-button.active, .accordion-button:hover {
    background-color: #ffffff !important; 
    color: #000000; 
}

.accordion-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff; 
    font-size: 19px;
    border: none;
}

.accordion-content ul {
    margin-left: 16px;
}

.bnavbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    padding: 15px;
}

.bnavbar-section {
    width: 100%;
}

.bnavbar-section ul {
    list-style-type: none;
    padding: 0;
}

.bnavbar-section li {
    margin: 5px 0;
    margin-bottom: 10px;
}

.bnavbar-section a {
    text-decoration: none; 
    color: rgb(0, 0, 116);
    font-size: 16px; 
}
